<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--         <title>Menu</title>   -->
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/estilos.css" />
  <link rel="stylesheet" type="text/css" href="../../public/assets/css/estilos/estilos.css" media="screen">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="estilos/estilos.css">

  <style>
    h1 {
      color: blue;
      font-family: 'Arial', 'sans-serif';
      font-size: 50px;
      font-style: oblique;
    }

    p {
      color: blue;
      font-family: 'Arial', 'sans-serif';
      font-size: 25px;
      font-style: oblique;
    }
  </style>

</head>


<nav class="navbar navbar-expand-lg navbar-light  ">
  <a class="navbar-brand" href="#">
  </a>

  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav center-navbar">
      <li class="nav-item">
        <a class="nav-link " href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/veiculosListar">Veiculos Cadastrados</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/veiculo/views/novo">Cadastrar Novo Veiculo</a>
      </li>



    </ul>
  </div>
</nav>

<table>
  <tr>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-6">Loja de Tênis</h1>
      </div>
    </div>

    <main>
    </main>

    <footer>
      <p1 class="text-center">
        &#169; 2019 - Fatec Franca-SP - Programação Script - Lucas Fernando de Assis - 5ºADS - Noturno.
      </p1>
    </footer>
    </body>

</html>